# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/
